body {
	font-family: 'Julius Sans One', sans-serif;
}
#messageBox {
	display:none;
	position:absolute;
	z-index:999;
	width:74%;
	height:50%;
	margin:0 auto;
}
#restart {
	display:none;
}
.blue {
	background-color:#3498DB;
}